.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/ajax-loader.gif) center no-repeat #fff;
}

html {
    background: -webkit-linear-gradient(white, #edf4ed, #c5dbc5);
    background: -o-linear-gradient(white, #edf4ed, #c5dbc5);
    background: -moz-linear-gradient(white,#edf4ed, #c5dbc5);
    background: linear-gradient(white,#edf4ed, #c5dbc5);
    background-attachment:fixed;
}

#cooperation {
    background: url(../img/logo.jpg) no-repeat;
    background-size: 100%;
    background-position-y: 115%;
}

@media only screen and (max-width: 767px) {
    #cooperation {
        background: no-repeat;
    }
}

.header_divider {
    height: 3rem !important;
}

.display {
    display: block !important;
}

.success.submit.message {
    display: none;
}

.ui.submit.form {
    display: none;
}
