/*******************************
            Global
*******************************/

html {
    font-size: 16px;
    background: #F2E8DF;
}

body {
    font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", "細明體", "MingLiU", "標楷體", "DFKai-sb", serif !important;
}

.loading {
    display: none;
}

#footer {
    position: aboslute;
    bottom: 0px;
}

.hidden {
    display: none !important;
}

.bottom.margin {
    margin: 50px;
}

p {
    font-size: 15px;
    line-height: 2.0rem !important;
}

.transition_red {
    -o-transition: .3s !important;
    -ms-transition: .3s !important;
    -moz-transition: .3s !important;
    -webkit-transition: .3s !important;
    transition: .3s !important;
    color:black;
}

.transition_red:hover {
    color: #f26f60 !important;
    border-color: #f26f60 !important;
}

.transition_red.active{
    color: black !important;
    border-color: black !important;
    font-weight: 600 !important;
}



/*--------------
    Header
---------------*/

.logo_img{
    width:8.6rem !important;
}

.sub.logo.header{
    font:normal 36px 'Cookie', cursive;
}

span.menu_text {
    font-size: 15px;
}

.ui.header {
    font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", "細明體", "MingLiU", "標楷體", "DFKai-sb", serif !important;
}

.non-pointer{
    cursor: default !important;
}

.no-margin{
    margin: 0rem !important;
}

.ui.title.header {
    font-family: 'Oswald', sans-serif !important;
}

.margin_top {
    margin-top: 6%;
}

.top_padding_cancel {
    padding-top: 0rem !important;
}

.none.divider {
    display: none;
}

#segment_master {
    margin-top: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    z-index: +100;
    width:101%;
    box-shadow: 2px 1px 9px 1px rgba(20%, 20%, 40%, 0.3);
    -moz-box-shadow: 2px 1px 9px 1px rgba(20%, 20%, 40%, 0.5);
    -webkit-box-shadow: 2px 1px 9px 1px rgba(20%, 20%, 40%, 0.5);
}

.padding_logo {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.display_for_mobile {
    display: none;
}

.display_for_laptop {
    display: block;
}


@media only screen and (min-width: 1400px) {
    .ui.page.grid {
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
}

@media only screen and (min-width: 992px) {
    .ui.page.grid {
        padding-left: 6% !important;
        padding-right: 6% !important;
    }
}

@media only screen and (max-width: 767px) {
    .ui.page.grid {
        padding-left: 6% !important;
        padding-right: 6% !important;
    }
    #new_list_content {
        padding: 5rem 2rem !important;
    }
    #career_list_content {
        padding: 5rem 3rem !important;
    }
    .display_for_laptop {
        display: none;
    }
    .display_for_mobile {
        display: block;
    }
}
