
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/Preloader_2.gif) center no-repeat #fff;
}


/*--------------
    Photo Scroll
---------------*/
.city.scroll.image{
    width:100% !important;
}

.remove_top {
    padding-top: 0rem !important;
}

/*----------------------
    Content
-------------------------*/

#tlbthings{
    background-color: white;
    //padding-top: 5rem !important;
    //padding-bottom: 5rem !important;
    //padding-right: 1.5rem;
    //padding-left: 1.5rem;
}

h2.ui.light.header{
    color:dimgray;
}

.abstraction{
    font-size: 15px;
    line-height: 1.5rem !important;
}

.slide {
    //margin: 1rem;
}

.chocolate{
    color:chocolate;
    padding-right: 0.5rem;
}

#slide_for_mobile{

}

#slide_for_laptop{

}

#what_is_TLBT{
    padding: 5rem 0.5rem !important;
    background-image:url("../data/img/paper-bg.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    //background-image:url("../data/img/pic3.png"), url("../data/img/pic4.png");
	//background-position: -17% 96%, 103% 96%;
	//background-repeat:no-repeat;
}

.what_is_TLBT_bg{
    //background-image:url("../data/img/paper-bg.jpg");
	//background-repeat:no-repeat;
	//background-size: cover;
}

#why_TLBT{
    padding: 5rem 0.5rem !important;
    background-color:white;
}

.fadein_row{
    visibility:hidden;
}

#new_stories{
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    background-color:seashell;
}



#new_list_content {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    background-color: initial;
}

h1#what_is_TLBT_header{
    width:100%;
}


/*--------------
    Slide Show
---------------*/

.ui.slide.page.grid{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.ui.inverted.slide.head.segment{
    background-color: rgba(0, 0, 0, 0.5) !important;
    padding:2rem;
    width:100%;
    position: absolute;
    z-index: 100;
}

.slide.worker{
    background-image: url("../img/tlbthings/worker.jpg");
    background-size: cover;
    background-position-y: 77%;
    background: url("../img/tlbthings/worker.jpg") 0% 77% / cover no-repeat;
}

.slide.bookstore_clerk{
    background-image: url("../img/tlbthings/bookstore_clerk.jpg");
    background-size: cover;
    background-position-y: 46%;
    background: url("../img/tlbthings/bookstore_clerk.jpg") 0% 46% / cover no-repeat;
}

h4.ui.bookstore_clerk.right.aligned.inverted.header{
    margin-right: 2%;
    margin-top: 9%;
}

.slide.convenience_store{
    background-image: url("../img/tlbthings/convenience_store.jpg");
    background-size: cover;
    background-position-y: 46%;
    background: url("../img/tlbthings/convenience_store.jpg") 0% 46% / cover no-repeat;
}

.worker.margin.right{
    margin-right: 8%;
    margin-top: 6% !important;
}

.convenience_store.margin.left{
    margin-left: 15%;
    margin-top: -3% !important;
}


.owl-controls.clickable{
    display:none !important;
}


.mobile.header{
    padding-bottom: 1rem;
    padding-top: 3rem;
}

.hide.segment{
    padding: 0.3rem;
}



/*--------------
    New Profile
---------------*/

.ui.items > .item > .content > .description{
    max-width:98% !important;
}


/*--------------
    Latest Article
---------------*/

.article.row{
    margin-top: 1rem !important;
}


.abstract.description {
    o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    max-height: 10rem;
    margin-top: 1rem;
    width: 100%;
}

.right_floated {
    float: right;
    margin-right: 0.5rem;
}

.description {
    max-width: 100% !important;
}

.brown{
    color:maroon;

}

.remove_margin_bottom{
    margin-bottom: 0rem !important;
}

.meta.margin_top{
    margin-top: 2rem;
}

/*--------------
    Footer
---------------*/

.ui.inverted.segment, .ui.inverted.black.segment{
    background-color:#0B0D1A !important;
}


/*******************************
          Responsive
*******************************/

/* Mobile Only */
@media only screen and (max-width : 768px) {
	
  
}


