
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/Preloader_4.gif) center no-repeat #fff;
}

body {
    font-size: 16px;
    background-color: initial !important;
}

p {
    line-height: 2.33;
    color: #F5F5F5;
}

.ui.inverted.list .list > .item .header,
.ui.inverted.list > .item .header {
    color: #F5F5F5;
}

.ui.inverted.dividing.header {
    color: #F5F5F5;
}

.inverted.description.segment {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.nav.description.segment {

}

#sticky_nav.stick {
    position: fixed;
    top: 0;
    z-index: 1000;
    border-radius: 0.5rem 0.5rem 0.5em 0.5em;
    width:17%;
}

.icon_logo {
    width: 60px !important;
    padding-right: 0px !important;
    margin-right: -10px !important;
}

.icon_logo_header {
    margin: 10px;
}

.inverted_blue {
    color: #4a9ee2 !important;
}

.narrow.column {
    padding-left: 1.0rem !important;
    padding-right: 0.5rem !important;
}

.image.row {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.slide.image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ui.attached.button{
    margin-top: -0.1rem;
    margin:auto;
    width:99.6%;
}

.move_top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.move_top::selection{
    background-color: black;
}