<!DOCTYPE html>
<html prefix='og: http://ogp.me/ns#' ng-app="career_app" ng-controller="career_ctrl">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="img/logo/square_logo.png">
    <title>職業 X 科系連連看 - TLBT</title>
    <link property="og:image" src="img/TLBT.jpg" rel="image_src" />
    <link rel="icon" href="img/logo/square_logo.png" type="image/ico" />
    <meta http-equiv="content-language" content="zh-tw">
    <meta name="keywords" content="The little big things，最重要的小事，TLBT，生涯規畫，職業誌，甘苦談">
    <meta name="description" content="科系X職業 連連看，是我們今年新推出的企劃，希望能藉由工作者學經歷背景的分享，讓讀者們初步的了解目前該產業的情況，及該如何準備好自己來勝任這份工作。因為整個計畫必須從零開始，所以我們需要各位熱心的工作者，您的分享!">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="image_src" href="img/logo/square_logo.png" alt="職業誌 X 最重要的小事 The Little Big Things" title="職業誌 X 最重要的小事 The Little Big Things" />
    <link rel="image_src" href="img/logo/rectangle_logo_for_phone.png" alt="職業誌 X 最重要的小事 The Little Big Things" title="職業誌 X 最重要的小事 The Little Big Things" />
    <!-- Include Master -->
    <script language="JavaScript" type="text/javascript" src="dist/jquery-2.1.4.js"></script>
    <script language="JavaScript" type="text/javascript" src="dist/propeller.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="js/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="dist/semantic.css">
    <link rel="image_src" href="img/logo/square_logo.png" />
    <link rel="image_src" href="img/logo/rectangle_logo_for_phone.png" />
    <script src="js/global.js"></script>
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <link rel="stylesheet" type="text/css" href="css/career_relationship.css">
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script>
    var app = angular.module('career_app', []);
    app.controller('career_ctrl', function($scope, $http) {

        $.ajaxSetup({
            cache: false
        });

        $(window).resize(function() {
            ResponsiveWeb();
        });

        /* Laoding Animation */
        $(window).load(function() {
            // Animate loader off screen
            setTimeout(
                function() {
                    //do something specials
                    $(".se-pre-con").fadeOut("slow");
                }, 500);
        });

        $('#homepage_body').css("display", 'none');

        $("#master").load("master.html", function(responseTxt, statusTxt, xhr) {

            detectBrowser();
            ResponsiveWeb();
            $('#homepage_body').fadeIn(1000);
            $(".career.item").addClass('active');

            $('.ui.accordion').accordion({
                selector: {
                    trigger: '.title .icon'
                }
            });

        });

        $scope.categories = [{
            "school_name": "基礎科學",
            "figure": "computer.png",
            "departments": [{
                "cards": [],
                "department_name": "數理化學群"
            }, {
                "cards": [],
                "department_name": "地球與環境學群"
            }]
        }, {
            "school_name": "工程",
            "figure": "worker.png",
            "departments": [{
                "cards": [],
                "department_name": "工程學群"
            }, {
                "cards": [],
                "department_name": "資訊學群"
            }]
        }, {
            "school_name": "建築設計與藝術",
            "figure": "painter.png",
            "departments": [{
                "cards": [],
                "department_name": "建築與設計學群"
            }, {
                "cards": [],
                "department_name": "藝術學群"
            }]
        }, {
            "school_name": "生命科學",
            "figure": "doctor.png",
            "departments": [{
                "cards": [],
                "department_name": "生命科學學群"
            }, {
                "cards": [],
                "department_name": "生物資源學群"
            }, {
                "cards": [],
                "department_name": "醫藥衛生學群"
            }]
        }, {
            "school_name": "社會科學",
            "figure": "law.png",
            "departments": [{
                "cards": [],
                "department_name": "法律與政治學群"
            }, {
                "cards": [],
                "department_name": "社會與心理學群"
            }, {
                "cards": [],
                "department_name": "資訊與傳播學群"
            }]
        }, {
            "school_name": "運動與休閒",
            "figure": "cook.png",
            "departments": [{
                "cards": [],
                "department_name": "觀光"
            }, {
                "cards": [],
                "department_name": "餐飲"
            }, {
                "cards": [],
                "department_name": "休憩與運動"
            }]
        }, {
            "school_name": "人文與教育",
            "figure": "teacher.png",
            "departments": [{
                "cards": [],
                "department_name": "外語學群"
            }, {
                "cards": [],
                "department_name": "教育學群"
            }, {
                "cards": [],
                "department_name": "文史哲學群"
            }]
        }, {
            "school_name": "商業與管理",
            "figure": "ecnomy.png",
            "departments": [{
                "cards": [],
                "department_name": "商業與管理學群"
            }, {
                "cards": [],
                "department_name": "財經學群"
            }]
        }, {
            "school_name": "不分系學群",
            "figure": "police.png",
            "departments": [{
                "cards": [],
                "department_name": "不分系學群"
            }]
        }, {
            "school_name": "成大專區",
            "figure": "ncku.png",
            "departments": [{
                "cards": [],
                "department_name": "成大校友"
            }]
        }];

        $http({
            //Access career relationship data
            method: 'GET',
            url: "data/article/career_relationship.json"
        }).success(function(data, status, headers, config) {
            // When success to send the request, execute these statement
            console.log(data.data.length)
            $scope.articles = data.data
            console.log($scope.articles.length)
            for (i = 0; i < $scope.articles.length; i++) {
                var article = $scope.articles[i]
                for (j = 0; j < $scope.categories.length; j++) {
                    var school = $scope.categories[j];
                    for (k = 0; k < school.departments.length; k++) {
                        var department = school.departments[k]
                        if (department.department_name == article.groupby_department) {
                            article["id"] = i + 1;
                            department.cards.push(article);
                        }
                        if (department.department_name == "成大校友") {
                            if (article.is_ncku == true) {
                                console.log("yes")
                                article["id"] = i + 1;
                                department.cards.push(article);
                            }
                        }
                    }
                }
            }

        }).error(function(data, status, headers, config) {
            // When fail to send the request, execute these statement
            console.log("Fail to load career_relationship.json");
        });

        $scope.more_career = function(id) {
            console.log("User click more...")
            console.log(id)
            $('#' + id).modal('show');

        }

        $scope.states_activeItem = "";

        $scope.isActive = function(active_name) {
            console.log(active_name + " was clicked!")
            $scope.states_activeItem = active_name;
        }

        $scope.hamburger = function() {
            console.log("User click hamburger")
            $("#hamburger_menu").modal('show');
        }

        $scope.select_school = function() {
            $("#hamburger_menu").modal('hide');
        }

        //Here is for responsive website
        var device_width = $(document).width();
        if (device_width < 768) {
            console.log("it's mobile mode now!")

        } else {
            $('.ui.sticky')
                .sticky({
                    context: '#career_category'
                });
        }

        $('.ui.embed').embed({
            source: 'youtube',
            id: '_-Gh6U4odAM'
        });

    });
    </script>
    <script language="JavaScript" type="text/javascript" src="dist/semantic.js"></script>
    <div id="master"></div>
</head>

<body>
    <div id="career_modal_space"></div>
    <div class="ui career_introduction stackable page grid">
        <div class="row">
            <div class="column">
                <div class="header_divider">
                </div>
            </div>
        </div>
        <div class="very relaxed row">
            <div class="ten wide column">
                <div class="ui embed"></div>
            </div>
            <div class="six wide column">
                <div class="ui huge margin-top header">職業 X 科系連連看</div>
                <p>科系X職業 連連看，是我們今年新推出的企劃，希望能藉由工作者學經歷背景的分享，讓讀者們初步的了解目前該產業的情況，及該如何準備好自己來勝任這份工作。因為整個計畫必須從零開始，所以我們需要各位熱心的工作者，您的分享! </p>
                <div class="ui medium margin_bot_less header">如何分享</div>
                <p>需要您約 5 - 10 分鐘填寫表單 <a target="_blank" href="https://docs.google.com/forms/d/1ojqQ7nby2-B3R12jc-yI_1MvwV5iOORStDlxeRAAZBI/viewform">(點我填寫)</a>，我們將會妥善整理、保存您的資訊。</p>
                <div class="ui medium margin_bot_less header">實際範例 <a class="showCareerModal">(點我觀看)</a></div>
                <div class="ui small career modal">
                    <i class="close icon"></i>
                    <div class="header">
                        專任研究助理
                        <space class="float_right">2016/5/31</space>
                    </div>
                    <div class="content">
                        <div class="description">
                            <div class="ui inverted blue header segment">工作所需資格</div>
                            <div class="ui small header"><i class="angle double right red icon"></i>請問從事這項工作需要通過專業檢定考試/證照等能力證明?</div>
                            <p>不需要專業證書或證照，但必須具有相關科系之碩士學歷。</p>
                            <div class="ui small header"><i class="angle double right red icon"></i>目前這個產業的現狀</div>
                            <p>幾乎每間有科技部或國科會計劃正在進行的實驗室都會應徵研究助理，許多實驗室畢業的學生也會直接留下來把研究所進行實驗做一個完整的報告。若實驗室的規模很大，所需要的研究助理名額也隨之增加，所以研究助理的職缺一直都很多。且科技部或國科會計劃都有保障薪水制度，因此研究助理的起始薪水會比起外面的新鮮人起薪高出許多。但實驗助理的職缺是附屬於實驗計劃，而實驗計劃不一定每年都會通過審核。所以這份工作是一年一聘並不穩定。</p>
                            <div class="ui divider"></div>
                            <div class="ui inverted blue header segment">專業背景與工作關聯</div>
                            <div class="ui small header"><i class="angle double right red icon"></i>請問您大學就讀的科系及相關系所?</div>
                            <p>生物系</p>
                            <div class="ui small header"><i class="angle double right red icon"></i>請問您就讀的大學/研究所?</div>
                            <p>未提供</p>
                            <div class="ui small header"><i class="angle double right red icon"></i>您目前從事的職業是否與所念科系相關?</div>
                            <p>有</p>
                            <div class="ui small header"><i class="angle double right red icon"></i>承上題，若有關，就讀科系會培養什麼樣的能力對工作有什麼幫助 ; 若無關，是怎麼培養相關能力的?</div>
                            <p>生物系從大一就有生物、化學、物理相關的基礎實驗課程。大二大三則是有比較專精的生態學、演化學、遺傳學、分子生物學等專業學科之實驗課，實驗課除了著重儀器的操作，更重視學習理解原理與建構清晰的實驗邏輯。而這些訓練僅僅能夠讓一個研究人員具備初步做實驗的能力，尚無法能夠獨自負擔一個完整的實驗計劃。研究所的目的就是讓實驗從業人員具備更專業的研究能力，除了可以獨立完成所交辦的實驗之外，分析統整實驗數據與撰寫研究報告也是研究所著重的教學之一，更重要的是要能夠融會貫通，參閱國內外文獻以提升自己的研究水準與品質。研究助理本質上就是研究生的進階，因此學生時期所培養的專業能力與實驗態度，能夠直接影響一位研究助理所展現的工作效率。</p>
                            <div class="ui small header"><i class="angle double right red icon"></i>同樣是這個系所畢業的同學，目前分別的工作是甚麼?</div>
                            <p>保險業務員、國中補習班理科教師、行銷公司行政助理</p>
                            <div class="ui small header"><i class="angle double right red icon"></i>給未來想從事這個工作的讀者的建議</div>
                            <p>回歸到本質，研究助理的目的其實是為了那些想要攻讀博士班的研究人員所設立的，因此研究助理並不是一個適合長期任職的工作。但是對一個要從學術界跳到產業界的新鮮人來說，研究助理是一個很好的跳板。雖然不是一份穩定且長久的工作，但能學習到的事物非常多。快畢業的學生，若尚未找到合適的工作，非常推薦考慮先擔任研究助理。</p>
                            <div class="ui divider"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="career_relationship" class="ui page stackable grid">
        <div class="se-pre-con"></div>
        <div class="row">
            <div class="column">
                <div class="header_divider">
                </div>
            </div>
        </div>
        <div class="very relaxed row">
            <div class="twelve wide column" id="context">
                <div class="ui basic segment" id="career_category">
                    <!-- Here starts the catagory rail !-->
                    <div class="laptop ui right dividing rail">
                        <div class="ui sticky fix top">
                            <div class="ui basic segment">
                                <div class="ui vertical following fluid accordion text menu" ng-repeat="school in categories">
                                    <div ng-click="toggle_submenu()" class="active item">
                                        <div class="title">
                                            <i class="dropdown icon"></i>
                                            <a ng-href="#{{school.school_name}}" ng-class="{'active': school.school_name == states_activeItem}" ng-click="isActive(school.school_name)">
                                                <b>{{school.school_name}}</b>
                                            </a>
                                        </div>
                                        <div class="content">
                                            <div ng-repeat="department in school.departments">
                                                <div class="ui vertical fluid text menu" ng-if="department.cards.length>0">
                                                    <a class="item" ng-href="#{{department.department_name}}" ng-class="{'active': department.department_name == states_activeItem}" ng-click="isActive(department.department_name)">
                                                    {{department.department_name}}
                                                </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Ends the catagory rail !-->
                    <!-- Here starts the occupation articles !-->
                    <div class="each_school ui basic segment" ng-repeat="school in categories">
                        <h1 class="ui header">
                            <img ng-src="data/icon/{{school.figure}}" class="ui circular image" id="{{school.school_name}}">
                            {{school.school_name}}
                        </h1>
                        <div ng-repeat="department in school.departments">
                            <div ng-if="department.cards.length > 0">
                                <div class="ui raised padded segment segment_hidden_divider">
                                    <h2 class="ui header" id="{{department.department_name}}">{{department.department_name}}</h2>
                                    <div class="ui department_name divider"></div>
                                    <div class="ui three stackable cards">
                                        <div class="brown career card" ng-repeat="card in department.cards">
                                            <div class="content">
                                                <div class="one_line header">{{card.position}}</div>
                                                <div class="one_line meta">畢業科系: {{card.major}}</div>
                                                <div class="abstract description">
                                                    {{card.prof_ability}}
                                                </div>
                                                <span class="right floated">
                                            <a ng-click="more_career(card.id)">more...</a>
                                        </span>
                                            </div>
                                            <div class="ui small career modal" ng-attr-id="{{card.id}}">
                                                <i class="close icon"></i>
                                                <div class="header">
                                                    {{card.position}}
                                                    <span class="float_right">{{card.time}}</span>
                                                </div>
                                                <div class="content">
                                                    <div class="description">
                                                        <div class="ui inverted blue header segment">工作所需資格</div>
                                                        <div class="ui small header">
                                                            <i class="angle double right red icon"></i>從事該行業所需要的專業能力或應培養的人格特質
                                                        </div>
                                                        <p>{{card.prof_ability}}</p>
                                                        <div class="ui small header">
                                                            <i class="angle double right red icon"></i>請問從事這項工作需要通過專業檢定考試/證照等能力證明?
                                                        </div>
                                                        <p>{{card.certification}}</p>
                                                        <div class="ui small header">
                                                            <i class="angle double right red icon"></i>目前這個產業的現狀
                                                        </div>
                                                        <p>{{card.industry_status}}</p>
                                                        <div class="ui divider"></div>
                                                        <div class="ui inverted blue header segment">專業背景與工作關聯</div>
                                                        <div class="ui small header">
                                                            <i class="angle double right red icon"></i>請問您大學就讀的科系及相關系所?
                                                        </div>
                                                        <p>{{card.major}}</p>
                                                        <div class="ui small header">
                                                            <i class="angle double right red icon"></i>請問您就讀的大學/研究所?
                                                        </div>
                                                        <p>{{card.education}}</p>
                                                        <div class="ui small header">
                                                            <i class="angle double right red icon"></i>您目前從事的職業是否與所念科系相關?
                                                        </div>
                                                        <p>{{card.related_to_major}}</p>
                                                        <div class="ui small header">
                                                            <i class="angle double right red icon"></i>承上題，若有關，就讀科系會培養什麼樣的能力對工作有什麼幫助 ; 若無關，是怎麼培養相關能力的?
                                                        </div>
                                                        <p>{{card.ability_from_major}}</p>
                                                        <div class="ui small header">
                                                            <i class="angle double right red icon"></i>同樣是這個系所畢業的同學，目前分別的工作是甚麼?
                                                        </div>
                                                        <p>{{card.job_based_on_major}}</p>
                                                        <div class="ui small header">
                                                            <i class="angle double right red icon"></i>給未來想從事這個工作的讀者的建議
                                                        </div>
                                                        <p>{{card.sug_to_reader}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Ends the occupation articles !-->
                </div>
            </div>
        </div>
    </div>
    <button class="mobile hamburger circular google plus ui icon button">
        <i class="content icon" ng-click="hamburger()"></i>
    </button>
    <div id="hamburger_menu" class="ui basic occupation menu modal">
        <div class="ui big aligned selection list" ng-repeat="school in categories">
            <div class="item">
                <img ng-src="data/icon/{{school.figure}}" class="ui avatar image">
                <div class="content">
                    <a href="#{{school.school_name}}" class="header" ng-click="select_school()">{{school.school_name}}</a>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-distributed">
        <div class="footer-left">
            <h3>The Little Big <span>Things</span></h3>
            <p class="footer-company-about">
                The little big things all rights reserved.
            </p>
            <p class="footer-company-name">TLBT &copy; 2015</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>目前仍然居無定所，主要活動範圍在台南</span> Tainan, Taiwan</p>
            </div>
            <div>
                <i class="fa fa-map-marker"></i>
                <p>連絡我們</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">thelittlebigthings38@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the Workshop</span> The little big things 是一個介紹各行各業甘苦談的網路平台，我們誠摯的邀請具有熱忱及意願的工作者，一起把您的工作故事，分享給更多孩子知道！
            </p>
        </div>
    </footer>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-56789439-3', 'auto');
    ga('send', 'pageview');
    </script>
</body>

</html>
