<!DOCTYPE html>
<html ng-app="myApp" ng-controller="story_content_crtl">

<head>
    <!-- Standard Meta -->
    <title>{{ article.web_title }}</title>
    <link rel="icon" href="img/logo/square_logo.png" type="image/ico" />
    <meta http-equiv="content-language" content="zh-tw">
    <meta name="keywords" content="The little big things，最重要的小事，TLBT，職業介紹，生涯規畫，職業誌，甘苦談">
    <meta name="description" content="{{ article.web_description }}">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="image_src" href="img/logo/square_logo.png" alt="職業誌 X 最重要的小事 The Little Big Things" title="職業誌 X 最重要的小事 The Little Big Things" />
    <link rel="image_src" href="img/logo/rectangle_logo_for_phone.png" alt="職業誌 X 最重要的小事 The Little Big Things" title="職業誌 X 最重要的小事 The Little Big Things" />
    <!-- Include Master -->
    <div id="master"></div>
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <!-- Site Properities -->
    <script language="JavaScript" type="text/javascript" src="dist/jquery-2.1.4.js"></script>
    <script src="js/global.js"></script>
    <script type='text/javascript' src="js/jquery.backstretch.min.js"></script>
    <script type='text/javascript' src="js/stickyMojo.js"></script>
    <script type='text/javascript' src="js/animatescroll.js"></script>
    <link rel="stylesheet" type="text/css" href="css/story_content.css">
    <script type='text/javascript'>
    $(document).ready(function() {
        var slide_img;
        article_id = getURLParameter('article_id');
        category = getURLParameter('category');
        $('#story_content').css("display", 'none');
        $('body').css("background-color", 'initial');


        $(window).load(function() {
            // Animate loader off screen
            setTimeout(
                function() {
                    //do something special
                    $(".se-pre-con").fadeOut("slow");
                }, 1000);
        });

        var app = angular.module('myApp', []);
        app.controller('story_content_crtl', function($scope, $http, $filter) {
            $scope.content = null;
            $http({
                method: 'GET',
                url: 'data/article/' + category + '.json'
            }).
            success(function(data, status, headers, config) {
                //$scope.contents = data;

                var article = $filter('filter')(data.articles, {
                    "article_id": article_id
                })[0];

                console.log(article.cover_img);

                $scope.article = article;

                $scope.category = category;

                $.backstretch(article.background_img, {
                    duration: 15000,
                    fade: 1000
                });

                slide_img = article.photo_gallary;

            }).error(function(data, status, headers, config) {
                console.log("Fail to load cetering.json");
            });
        });



        $("#master").load("master.html", function(responseTxt, statusTxt, xhr) {

            ResponsiveWeb();
            $('body').fadeIn(1000);
            $(".ui.work.item").addClass('active');

            $('.move_top.button').click(function() {
                $('html, body').animate({
                    scrollTop: 0
                }, 1000);
                console.log("test");
            });


        });
        $(document).ajaxStop(function() {


        });

        var scrollShowDimmer;
        if ($(document).width() < 768) {
            scrollShowDimmer = false;
        } else {
            scrollShowDimmer = true;
        }

        $('#story_content').bind('scroll resize', function() {
            var nav_width = $('#sticky_nav_width').width();
            $('#sticky_nav').css("width", nav_width);
            sticky_relocate();
            if (scrollShowDimmer) {
                $('.photo.image').dimmer('show');
                scrollShowDimmer = false;
            }

        });

        if ($(document).width() > 768) {
            $('.photo.image')
                .mouseenter(function() {
                    $('.photo.image').dimmer('show');
                    scrollShowDimmer = false;
                })
                .mouseleave(function() {
                    $('.photo.image').dimmer('hide');
                });
        }

        //Fix me : Can not get the element!?
        $('.nav.header').click(function() {
            alert("!");
        });


        $('.photo.button').click(function() {
            openPhotoSwipe(slide_img);
        });

        // It is a bug need to be fixed
        /*
        $('.move_top.button').click(function() {
            disable_scroll();
            $('html, body').animate({
                scrollTop: 0
            }, 1000,function(){
                enable_scroll();
                console.log("t1");
            });
        });
*/



    });

    var openPhotoSwipe = function(image_list) {
        var pswpElement = document.querySelectorAll('.pswp')[0];

        // build items array
        var items = [],
            temp_item;
        for (i = 0; i < image_list.length; i++) {
            if (i == 0) {
                temp_item = {
                    html: '<img class="ui huge slide image" src="' + image_list[i] + '" rel="image_src" type="image/jpeg">'
                }
            } else {
                temp_item = {
                    html: '<img class="ui big slide image" src="' + image_list[i] + '" rel="image_src" type="image/jpeg">'
                }
            }
            items.push(temp_item);
        }

        // define options (if needed)
        var options = {
            // optionName: 'option value'
            // for example:
            index: 0, // start at first slide
            preload: [1, 3]
        };

        // Initializes and opens PhotoSwipe
        gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);

        gallery.init();
    }

    function showPhotoGallary() {
        $("#owl-example").owlCarousel({
            singleItem: true
        });
    }

    function getURLParameter(name) {
        return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [, ""])[1].replace(/\+/g, '%20')) || null
    }

    function sticky_relocate() {
        var device_width = $(document).width();
        var window_top = $(window).scrollTop();
        var div_top = $('#story_text').offset().top;
        var threshold_for_move_top = $('#story_text').offset().top;
        // For laptop nav div
        if (device_width > 768) {
            if (window_top > div_top) {
                $('#sticky_nav').addClass('stick');
            } else {
                $('#sticky_nav').removeClass('stick');
            }
        }
        // For mobile move_up button
        else {
            if (window_top > threshold_for_move_top) {
                $('.move_top').removeClass("hidden");
            } else {
                $('.move_top').addClass("hidden");
            }
        }
    }



    function preventDefault(e) {
        e = e || window.event;
        if (e.preventDefault)
            e.preventDefault();
        e.returnValue = false;
    }

    function keydown(e) {
        for (var i = keys.length; i--;) {
            if (e.keyCode === keys[i]) {
                preventDefault(e);
                return;
            }
        }
    }

    function wheel(e) {
        preventDefault(e);
    }

    function disable_scroll() {
        if (window.addEventListener) {
            window.addEventListener('DOMMouseScroll', wheel, false);
        }
        window.onmousewheel = document.onmousewheel = wheel;
        document.onkeydown = keydown;
    }

    function enable_scroll() {
        if (window.removeEventListener) {
            window.removeEventListener('DOMMouseScroll', wheel, false);
        }
        window.onmousewheel = document.onmousewheel = document.onkeydown = null;
    }
    </script>
    <script type='text/javascript' src="js/angular.js"></script>
    <script language="JavaScript" type="text/javascript" src="dist/semantic.js"></script>
    <!-- For photoswipe -->
    <link rel="stylesheet" href="dist/photoswipe/photoswipe.css">
    <link rel="stylesheet" href="dist/photoswipe/default-skin/default-skin.css">
    <!-- Core JS file -->
    <script src="dist/photoswipe/photoswipe.min.js"></script>
    <!-- UI JS file -->
    <script src="dist/photoswipe/photoswipe-ui-default.min.js"></script>
</head>

<body id="story_content" onscroll="sticky_relocate()">
    <div class="se-pre-con"></div>
    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.3";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="ui stackable grid">
        <div class="row">
            <div class="one wide column"></div>
            <div class="main_content eight wide column">
                <div class="ui bottom massive hidden divider"></div>
                <div id="story_text" class="ui inverted description segment">
                    <div class="ui grid">
                        <div class="icon_logo_header">
                            <h1 class="ui inverted header">
                                {{article.abstraction}}
                            </h1>
                        </div>
                        <div class="mobile center aligned row">
                            <div class="five wide column">
                                <a ng-href="story_content.html?category={{category}}&article_id={{article.prev_id}}">
                                    <h4 class="ui inverted header">
                                        <div class="next_article content">
                                            上一篇
                                        </div>
                                    </h4>
                                </a>
                            </div>
                            <div class="six wide column">
                                <a ng-href="story_list.html?category={{category}}">
                                    <h4 class="ui red header">
                                        <div class="content">
                                            回到選單
                                        </div>
                                    </h4>
                                </a>
                            </div>
                            <div class="five wide column">
                                <a ng-href="story_content.html?category={{category}}&article_id={{article.next_id}}">
                                    <h4 class="ui inverted header">
                                        <div class="next_article content">
                                            下一篇
                                        </div>
                                    </h4>
                                </a>
                            </div>
                        </div>
                        <div class="laptop center aligned four column row">
                            <div class="column">
                                <div class="ui breadcrumb">
                                    <div class="inverted_blue  section">採編 /</div>
                                    <div class="inverted_blue  section">{{article.interview}}</div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ui breadcrumb">
                                    <div class="inverted_blue  section">文編 /</div>
                                    <div class="inverted_blue  section">{{article.editor}}</div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ui breadcrumb">
                                    <div class="inverted_blue  section">美編 /</div>
                                    <div class="inverted_blue  section">{{article.art_editor}}</div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ui breadcrumb">
                                    <div class="inverted_blue  section">攝影 /</div>
                                    <div class="inverted_blue  section">{{article.photography}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="mobile center aligned two column row">
                            <div class="narrow column">
                                <div class="ui breadcrumb">
                                    <div class="inverted_blue  section">採編 /</div>
                                    <div class="inverted_blue  section">{{article.interview}}</div>
                                </div>
                            </div>
                            <div class="narrow column">
                                <div class="ui breadcrumb">
                                    <div class="inverted_blue  section">文編 /</div>
                                    <div class="inverted_blue  section">{{article.editor}}</div>
                                </div>
                            </div>
                            <div class="narrow column">
                                <div class="ui breadcrumb">
                                    <div class="inverted_blue  section">美編 /</div>
                                    <div class="inverted_blue  section">{{article.art_editor}}</div>
                                </div>
                            </div>
                            <div class="narrow column">
                                <div class="ui breadcrumb">
                                    <div class="inverted_blue  section">攝影 /</div>
                                    <div class="inverted_blue  section">{{article.photography}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image row">
                        <div class="ui photo image">
                            <div class="ui inverted dimmer">
                                <div class="content">
                                    <div class="center">
                                        <h3 class="ui header">想看看主角的工作環境嗎?</h3>
                                        <div class="ui secondary photo button">觀看相簿</div>
                                    </div>
                                </div>
                            </div>
                            <img class="ui main attached image" ng-src="{{article.cover_img}}" rel="image_src" type="image/jpeg">
                            <button class="mobile fluid ui bottom attached photo button">觀看相簿</button>
                        </div>
                    </div>
                    <div id="article_content" class="row">
                        <div ng-repeat="section in article.content">
                            <h2 ng-if="section.header != ''" id="{{'p'+$index}}" class="ui inverted dividing header">
                            {{section.header}}
                            </h2>
                            <p ng-repeat="paragraph in section.segment">
                                {{paragraph}}
                            </p>
                            <br/>
                        </div>
                    </div>
                    <h5 class="ui right floated inverted red header">
                    你的一個動作，將會使每個孩子多一點點機會看見他們可能的未來
                    </h5>
                    <div class="fb-like" data-href="https://www.facebook.com/pages/The-Little-Big-Things-%E6%9C%80%E9%87%8D%E8%A6%81%E7%9A%84%E5%B0%8F%E4%BA%8B/992120404140331" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                </div>
            </div>
            <div class="three wide padding column"></div>
            <div id="sticky_nav_width" class="ui three wide column">
                <div class="ui bottom massive hidden divider"></div>
                <div id="sticky_nav" class="ui inverted nav description segment">
                    <div class="ui grid">
                        <div class="row">
                            <div class="four wide left aligned column">
                                <a ng-href="story_content.html?category={{category}}&article_id={{article.prev_id}}">
                                    <h4 class="ui teal header">
                                    <div class="next_article content">
                                        <i class="chevron left inverted_blue icon"></i>
                                    </div>
                                    </h4>
                                </a>
                            </div>
                            <div class="eight wide column">
                                <a ng-href="story_list.html?category={{category}}">
                                    <h4 class="ui inverted red header">
                                    <div class="content">
                                        回到選單
                                    </div>
                                </h4>
                                </a>
                            </div>
                            <div class="four wide right aligned column">
                                <a ng-href="story_content.html?category={{category}}&article_id={{article.next_id}}">
                                    <h4 class="ui teal header">
                                    <div class="next_article content">
                                        <i class="chevron right inverted_blue icon"></i>
                                    </div>
                                    </h4>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui inverted divider"></div>
                    <div class="ui left floated inverted relaxed divided list">
                        <div class="item" ng-if="section.header != ''" ng-repeat="section in article.content">
                            <div class="content">
                                <div class="nav header"><a ng-href="story_content.html?category={{category}}&article_id={{article.article_id}}#p{{$index}}">{{section.header}}</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="mobile move_top circular google plus ui icon button">
            <i class="icon arrow up"></i>
        </button>
        <!-- Root element of PhotoSwipe. Must have class pswp. -->
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
            <div class="pswp__bg"></div>
            <!-- Slides wrapper with overflow:hidden. -->
            <div class="pswp__scroll-wrap">
                <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>
                <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                <div class="pswp__ui pswp__ui--hidden">
                    <div class="pswp__top-bar">
                        <!--  Controls are self-explanatory. Order can be changed. -->
                        <div class="pswp__counter"></div>
                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                        <button class="pswp__button pswp__button--share" title="Share"></button>
                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                        <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                        <!-- element will get class pswp__preloader--active when preloader is running -->
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div>
                    </div>
                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                    </button>
                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                    </button>
                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-distributed">
        <div class="footer-left">
            <h3>The Little Big <span>Things</span></h3>
            <p class="footer-company-about">
                The little big things all rights reserved.
            </p>
            <p class="footer-company-name">TLBT &copy; 2015</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>目前仍然居無定所，主要活動範圍在台南</span> Tainan, Taiwan</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>聯絡方式 :</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">thelittlebigthings38@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the Workshop</span> The little big things 是一個介紹各行各業甘苦談的網路平台，我們誠摯的邀請具有熱忱及意願的工作者，一起把您的工作故事，分享給更多孩子知道！
            </p>
        </div>
    </footer>
</body>
