<!DOCTYPE html>
<html>

<head>
    <!-- Standard Meta -->
    <title>職業誌 X 最重要的小事 The little big things</title>
    <link rel="icon" href="img/logo/square_logo.png" type="image/ico" />
    <meta http-equiv="content-language" content="zh-tw">
    <meta name="keywords" content="The little big things，最重要的小事，TLBT，生涯規畫，職業誌，甘苦談">
    <meta name="description" content="The little big things (TLBT) 是一個介紹各行各業甘苦談的網路平台 (職業誌)，讓孩子能藉由閱讀這些故事，規劃自己未來的生涯。">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="image_src" href="img/logo/square_logo.png" alt="職業誌 X 最重要的小事 The Little Big Things" title="職業誌 X 最重要的小事 The Little Big Things" />
    <link rel="image_src" href="img/logo/rectangle_logo_for_phone.png" alt="職業誌 X 最重要的小事 The Little Big Things" title="職業誌 X 最重要的小事 The Little Big Things" />
    <!-- Include Master -->
    <script language="JavaScript" type="text/javascript" src="dist/jquery-2.1.4.js"></script>
    <script language="JavaScript" type="text/javascript" src="dist/semantic.js"></script>
    <script type="text/javascript" src="dist/jssor.js"></script>
    <script type="text/javascript" src="dist/jssor.slider.js"></script>
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <script src="js/global.js"></script>
    <script>
    $(document).ready(function() {
        $.ajaxSetup({
            cache: false
        });

        $(window).resize(function() {
            ResponsiveWeb();
        });

        $(window).load(function() {
            // Animate loader off screen
            setTimeout(
                function() {
                    //do something special
                    $(".se-pre-con").fadeOut("slow");
                }, 2000);
        });

        $('#story_list').css("display", 'none');

        $('#story_content').css("display", 'none');
        $('body').css("background-color", 'initial');

        var app = angular.module('myApp', []);
        app.controller('story_content_crtl', function($scope, $http) {
            $scope.content = null;

            category = getURLParameter('category');

            $http({
                method: 'GET',
                url: 'data/article/' + category + '.json'
            }).
            success(function(data, status, headers, config) {
                //$scope.contents = data;
                $scope.articles = data.articles;
                $scope.category = category;


            }).error(function(data, status, headers, config) {
                console.log("Fail to load cetering.json");
            });
        });

        $("#master").load("master.html", function(responseTxt, statusTxt, xhr) {
            ResponsiveWeb();
            $('body').fadeIn(1000);
            $(".ui.work.item").addClass('active');
        });
        $(document).ajaxStop(function() {});

        $('.tiny.role.image').popup();

        $('.button.circular.massive.inverted.ui.red.icon.button').click(function() {
            $(document.body).animate({
                'scrollTop': $('#career_list_content').offset().top
            }, 1000);
        });


        /*  Related to carier head slide show */
        var options = {
            $AutoPlay: true, //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
            $AutoPlaySteps: 1, //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
            $AutoPlayInterval: 0, //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
            $PauseOnHover: 4, //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

            $ArrowKeyNavigation: true, //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
            $SlideEasing: $JssorEasing$.$EaseLinear, //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
            $SlideDuration: 1600, //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
            $MinDragOffsetToSlide: 20, //[Optional] Minimum drag offset to trigger slide , default value is 20
            $SlideWidth: 140, //[Optional] Width of every slide in pixels, default value is width of 'slides' container
            //$SlideHeight: 100,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
            $SlideSpacing: 0, //[Optional] Space between each slide in pixels, default value is 0
            $DisplayPieces: 7, //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
            $ParkingPosition: 0, //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
            $UISearchMode: 1, //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
            $PlayOrientation: 1, //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
            $DragOrientation: 1 //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
        };

        var jssor_slider1 = new $JssorSlider$("slider1_container", options);

        //responsive code begin
        //you can remove responsive code if you don't want the slider scales while window resizes
        function ScaleSlider() {

            var bodyWidth = document.body.clientWidth;
            if (bodyWidth)
                jssor_slider1.$ScaleWidth(Math.min(bodyWidth, 1600));
            else
                window.setTimeout(ScaleSlider, 30);
        }

        ScaleSlider();

        $(window).bind("load", ScaleSlider);
        $(window).bind("resize", ScaleSlider);
        $(window).bind("orientationchange", ScaleSlider);
        //responsive code end

    });

    function getURLParameter(name) {
        return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [, ""])[1].replace(/\+/g, '%20')) || null
    }
    </script>
    <script type='text/javascript' src="js/angular.js"></script>
    <div id="master"></div>
    <!-- Site Properities -->
    <title>The little big things</title>
    <link rel="stylesheet" type="text/css" href="css/story_list.css">
    <link rel="stylesheet" type="text/css" href="css/global.css">
</head>

<body id="story_list" ng-app="myApp" ng-controller="story_content_crtl">
    <div class="se-pre-con"></div>
    <div class="ui stackable grid">
        <div class="career_list_header_bg">
            <div id="career_list_header" class="ui centered very relaxed stackable grid page">
                <div class="row">
                    <h1 class="centered aligned ui header">
                            各行各業甘苦談
                        </h1>
                    <div class="ui hidden divider"></div>
                </div>
                <div class="row">
                    <div class="ten wide column">
                        <h3 class="centered aligned ui header">
                            人因夢想而偉大！
                            有多少人終其一生可以使夢想成真？
                            The Little Big Things 紀載了人們的夢想，來看看他們的故事吧！
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <button id="hidden_SL_button_for_mobile" class="pulse hidden left aligned circular massive inverted ui red icon button">
                        <i class="arrow down icon"></i>
                    </button>
                </div>
                <div id="slider1_container" style="width: 980px;height: 130px; top: 10px;overflow: hidden;" class="row laptop">
                    <div u="slides" style="width: 100%;height: 130px; top: 10px; overflow: hidden;left: 0px;" class="categoty_menu ui images">
                        <div>
                            <a class="ui tiny role image" data-content="我很清楚指令，也明白做消防員，不應該一命換一命，我們只是希望，能救一個是一個。">
                                <img src="data/icon/firefighting.png">
                            </a>
                        </div>
                        <div>
                            <a class="ui tiny role image" data-content="藝術家要做的事情並不是向絕望屈服，而是要找到一劑排遣精神空虛的解藥。">
                                <img src="data/icon/painter.png">
                            </a>
                        </div>
                        <div>
                            <a class="ui tiny role image" data-content="兩位裡面請喔~！吧檯在這，逃生出口在那裡，廁所在前面，兩位坐這。">
                                <img src="data/icon/service.png">
                            </a>
                        </div>
                        <div>
                            <a class="ui tiny role image" data-content="你累了嗎？ 精力充沛！ 保力達蠻牛！">
                                <img src="data/icon/worker.png">
                            </a>
                        </div>
                        <div>
                            <a class="ui tiny role image" data-content="來~來~看我這裡，這題會考喔~！OK~？">
                                <img src="data/icon/teacher.png">
                            </a>
                        </div>
                        <div>
                            <a class="ui tiny role image" data-content="歡迎您收看XX電台，接下來這一小時將由我來陪你一起度過。">
                                <img src="data/icon/media.png">
                            </a>
                        </div>
                        <div>
                            <a class="ui tiny role image" data-content="不要擔心程式運作有問題。因為如果他一切正常，那你就失業了。">
                                <img src="data/icon/computer.png">
                            </a>
                        </div>
                        <div>
                            <a class="ui tiny role image" data-content="感謝您的搭乘，祝您旅途愉快。">
                                <img src="data/icon/skygirl.png">
                            </a>
                        </div>
                        <div>
                            <a class="ui tiny role image" data-content="選擇醫學可能是偶然，但你一旦選擇了，就必須用一生的忠誠和熱情去對待。">
                                <img src="data/icon/doctor.png">
                            </a>
                        </div>
                        <div>
                            <a class="ui tiny role image" data-content="不能養成良好的理財習慣，即使擁有博士學位，也難讓你脫離貧窮。">
                                <img src="data/icon/ecnomy.png">
                            </a>
                        </div>
                        <div>
                            <a class="ui tiny role image" data-content="料理是要帶給人幸福！">
                                <img src="data/icon/cook.png">
                            </a>
                        </div>
                        <div>
                            <a class="ui tiny role image" data-content="是不是都無所謂。不管他有沒有殺人，都和我無關。檢察廳的證據不足，所以他被無罪釋放了，這就是法。">
                                <img src="data/icon/law.png">
                            </a>
                        </div>
                        <div>
                            <a class="ui tiny role image" data-content="道歉有用的話，那要警察幹嘛！">
                                <img src="data/icon/police.png">
                            </a>
                        </div>
                        <div>
                            <a class="ui tiny role image" data-content="辦公司就是辦人。人才是利潤最高的商品，能夠經營好人才的企業才是最終的贏家。">
                                <img src="data/icon/manager.png">
                            </a>
                        </div>
                        <div>
                            <a class="ui tiny role image" data-content="一顆青~青青採來青青茶~遍遍採來遍遍青~ 采呀采呀遍遍採來遍遍青~ 采滿一框~ 又一框~">
                                <img src="data/icon/tea_girl.png">
                            </a>
                        </div>
                        <div>
                            <a class="ui tiny role image" data-content="如果你的東西和大家都一樣，那幹嘛還設計它？">
                                <img src="data/icon/designer.png">
                            </a>
                        </div>
                        <div>
                            <a class="ui tiny role image" data-content="咕嚕咕嚕都嚕啪啦咕嚕搭阿啪嚕嚕嚕...">
                                <img src="data/icon/driver.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="career_list_content" class="ui centered very relaxed stackable grid page">
            <div class="row" ng-repeat="article in articles">
                <div class="ui centered stackable grid">
                        <div class="story_img_abst three wide column">
                            <a ng-href="story_content.html?category=general&article_id={{article.article_id}}#" class="ui fluid rounded image">
                                <img ng-src="{{article.square_img}}">
                            </a>
                        </div>
                        <div class="story_abst thirteen wide column">
                            <a class="header" ng-href="story_content.html?category=general&article_id={{article.article_id}}#">
                                <h3 class="ui remove_margin_bottom left floated blue header">{{article.title}}</h3>
                                <h5 class="ui remove_margin_bottom right floated header">...more</h5>
                            </a>
                            <div class="meta margin_top">
                                <span class="brown">{{article.abstraction}}</span>
                            </div>
                            <div class="description">
                                <p class="abstract description">
                                    {{article.content[0].segment[0]}}
                                    <br/> {{article.content[0].segment[1]}}
                                    <br/> {{article.content[1].segment[0]}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="ui career_list_content divider"></div>
                </div>
            </div>
            <div class="bottom margin"></div>
        </div>
    </div>
    <div class="ui basic modal">
        <h1 class="ui icon inverted header">
            <i class="warning sign icon"></i>
            <div class="content">
                Still Working!
                <div class="sub header">尚未開放喔! 請持續關注我們，盡請期待!</div>
            </div>
        </h1>
    </div>
    <!--
    <div class="ui bottom attached segment pushable">
        <div class="ui visible inverted left vertical sidebar menu">
            <a class="item">
                <i class="home icon"></i> Home
            </a>
            <a class="item">
                <i class="block layout icon"></i> Topics
            </a>
            <a class="item">
                <i class="smile icon"></i> Friends
            </a>
            <a class="item">
                <i class="calendar icon"></i> History
            </a>
        </div>
        <div class="pusher">
            <div class="ui basic segment">
                <div id="" class="ui stackable grid page">
                    <div class="ui hidden divider"></div>
                    <h1 class="left aligned ui header">
                        各行各業甘苦談
                    </h1>
                    <h3 class="left aligned ui header">
                            人因夢想而偉大！但有多少人在逐夢的過程中而陣亡？<br/>
                            有多少人終其一生可以使夢想成真？<br/>
                            The Little Big Things 紀載了人們的夢想，來看看他們的故事吧！
                    </h3>
                    <div class="ui divider"></div>
                    <div class="row" ng-repeat="article in articles">
                        <div class="story_img_abst three wide column">
                            <div class="ui fluid rounded image">
                                <a ng-href="story_content.html?category={{category}}&article_id={{article.article_id}}#" class="ui image">
                                    <img ng-src="{{article.square_img}}">
                                </a>
                            </div>
                        </div>
                        <div class="story_abst ten wide column">
                            <a class="header" ng-href="story_content.html?category={{category}}&article_id={{article.article_id}}#">{{article.title}}</a>
                            <div class="meta">
                                <span>{{article.abstraction}}</span>
                            </div>
                            <div class="description">
                                <p class="abstract description">
                                    {{article.content[0].segment[0]}}
                                    <br/> {{article.content[0].segment[1]}}
                                </p>
                            </div>
                        </div>
                        <div class="ui career_list_content divider"></div>
                    </div>
                    <div class="bottom margin"></div>
                </div>
            </div>
        </div>
    </div>
-->
    <footer class="footer-distributed">
        <div class="footer-left">
            <h3>The Little Big <span>Things</span></h3>
            <p class="footer-company-about">
                The little big things all rights reserved.
            </p>
            <p class="footer-company-name">TLBT &copy; 2015</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>目前仍然居無定所，主要活動範圍在台南</span> Tainan, Taiwan</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>+1 555 123456</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">thelittlebigthings38@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the Workshop</span> The little big things 是一個介紹各行各業甘苦談的網路平台，我們誠摯的邀請具有熱忱及意願的工作者，一起把您的工作故事，分享給更多孩子知道！
            </p>
        </div>
    </footer>
</body>
